node_modules
/.cache
/build
.env
.DS_Store
.vercel
old-site
public-backup
public-data
package-lock.json
app/
postcss.config.*
tailwind.config.*
tsconfig.json
vite.config.*
react-router.config.*
package.json
